$primary-color-300: rgb(110, 53, 102);
$primary-color-200: rgb(144, 71, 133);
$primary-color-100: rgba(250, 241, 248, 0.8);
$base-color: #ffffff;


*{
    box-sizing: border-box;
}

body{
    background-color:$primary-color-100 ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    align-items: center;
    padding: 14rem 0;
    position: relative;
}

nav{
    width: 100vw;
    background-color: $base-color;
    position: fixed;
    top: 0;
    padding: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

nav img {
    height: 6rem;
    width: 6rem;
}

nav .wrapper{
    max-width: 1440px;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
}

section{
    max-width: 1440px;
    width: 100vw;
    padding: 1.5rem;
    margin: 0 auto;
    background-color: $base-color;
    border-radius: .75rem;
}

@media (max-width: 1440px) {

    section {
        max-width: calc(100vw - 3rem); 
    }
}
