*{
    box-sizing: border-box;
}

body{
    background-color:red ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    align-items: center;
    padding: 7.5rem 0;
}

section{
    max-width: 1440px;
    width: 100vw;
    padding: 1.5rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: .75rem;
}

@media (max-width: 1440px) {

    section {
        max-width: calc(100vw - 3rem); 
    }
}